# API 基础路径（与 Vite proxy 一致）
VITE_API_BASE_URL=/api

# 后端服务地址
VITE_SERVER_URL=http://localhost:8080/admin

# WebSocket 地址
VITE_WS_URL=ws://localhost:8080/ws/

# 删除权限 true=有
VITE_DELETE_PERMISSIONS=true
